@model WebBanHang_MVC.Models.sanpham

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>sanpham</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Danhmuc.tenHDT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Danhmuc.tenHDT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tenSP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tenSP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.gia)
        </dt>

        <dd>
            @Model.gia.ToString("###,###,###,### VND").Replace(',', '.')
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.khuyenmai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.khuyenmai)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.avatar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.avatar)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ngaytao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ngaytao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.soluong)
        </dt>

        @*<dd>
            @Html.DisplayFor(model => model.trangthai)
        </dd>*@

        <dt>
            @if (Model.chitiet != null)
            {
                @Html.Raw(Model.chitiet.Replace(Environment.NewLine, "<br/>"))

            }
        </dt>

        <dd>
            @Html.DisplayFor(model => model.chitiet)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hang)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hang)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
